@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "DrukWide";

    font-display: swap;
    src:
        url("../fonts/druk-wide-medium-web.woff2") format("woff2"),
        url("../fonts/druk-wide-medium-web.woff") format("woff");
}